
# Created by https://www.gitignore.io/api/eclipse,maven

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

/Wildfly_10/
ejb/src/main/resources/index.svg
web/src/main/resources/15_dark.svg
web/src/main/resources/Thumbs.db
web/src/main/resources/_log4j_.properties
web/src/main/resources/anaheim_small.svg
web/src/main/resources/arizona_small.svg
web/src/main/resources/blues_logo.svg
web/src/main/resources/boston_small.svg
web/src/main/resources/buffalo_small.svg
web/src/main/resources/calgary.svg
web/src/main/resources/canadiens.svg
web/src/main/resources/capitals_small.svg
web/src/main/resources/carolina_small.svg
web/src/main/resources/chicago_small.svg
web/src/main/resources/colorado_logo.svg
web/src/main/resources/columbus_small.svg
web/src/main/resources/dallas_small.svg
web/src/main/resources/detroit_small.svg
web/src/main/resources/devils_small.svg
web/src/main/resources/edmonton_small.svg
web/src/main/resources/florida_small.svg
web/src/main/resources/flyers_small.svg
web/src/main/resources/index.html
web/src/main/resources/index.svg
web/src/main/resources/islanders_small.svg
web/src/main/resources/jets_logo.svg
web/src/main/resources/kings_small.svg
web/src/main/resources/log4j.xml
web/src/main/resources/minnesota_small.svg
web/src/main/resources/ottawa_small.svg
web/src/main/resources/penguins_small.svg
web/src/main/resources/predators_small.svg
web/src/main/resources/rangers_small.svg
web/src/main/resources/sharks_small.svg
web/src/main/resources/tampa.svg
web/src/main/resources/test.svg
web/src/main/resources/toronto_small.svg
web/src/main/resources/vancouver_logo.svg
