USE [Hockey]
GO
/****** Object:  Table [dbo].[GAME]    Script Date: 09.05.2016 16:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAME](
	[GAME_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HOME_TEAM_ID] [bigint] NOT NULL,
	[AWAY_TEAM_ID] [bigint] NOT NULL,
	[HOME_TEAM_SCORE] [int] NULL,
	[AWAY_TEAM_SCORE] [int] NULL,
	[GAME_DATE] [datetime] NULL,
	[OT] [bit] NULL,
	[SO] [bit] NULL,
 CONSTRAINT [PK__GAME__44AFE4478546589D] PRIMARY KEY CLUSTERED 
(
	[GAME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PLAYER]    Script Date: 09.05.2016 16:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PLAYER](
	[PLAYER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[AGE] [int] NULL,
	[BIG_IMAGE_URL] [varchar](255) NULL,
	[BIRTH_DATE] [datetime] NULL,
	[BIRTH_PLACE] [varchar](255) NULL,
	[HEIGHT] [int] NULL,
	[IMAGE_URL] [varchar](255) NULL,
	[NUMBER] [int] NULL,
	[POSITION] [varchar](255) NULL,
	[WEIGHT] [int] NULL,
	[TEAM_ID] [bigint] NULL,
 CONSTRAINT [PK_player] PRIMARY KEY CLUSTERED 
(
	[PLAYER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PLAYER_STATISTICS]    Script Date: 09.05.2016 16:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAYER_STATISTICS](
	[PS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PLAYER_ID] [bigint] NOT NULL,
	[TEAM_ID] [bigint] NOT NULL,
	[YEAR] [int] NULL,
	[PLAYOFF_STATISTICS] [bit] NULL,
	[GAMES_PLAYED] [int] NULL,
	[GOALS] [int] NULL,
	[ASSISTS] [int] NULL,
	[POINTS] [int] NULL,
	[PLUS_MINUS] [int] NULL,
	[PENALTY_IN_MINUTES] [int] NULL,
	[POWERPLAY_GOALS] [int] NULL,
	[POWERPLAY_POINTS] [int] NULL,
	[SHORTHANDED_GOALS] [int] NULL,
	[SHORTHANDED_POINTS] [int] NULL,
	[GAME_WINNING_GOALS] [int] NULL,
	[OVERTIME_GOALS] [int] NULL,
	[SHOTS] [int] NULL,
	[SHOT_PERCENTAGE] [decimal](18, 2) NULL,
	[FACEOFF_WIN_PERCENTAGE] [decimal](18, 2) NULL,
 CONSTRAINT [PK__PLAYER_S__0119474C5D4AC437] PRIMARY KEY CLUSTERED 
(
	[PS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TEAM]    Script Date: 09.05.2016 16:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEAM](
	[TEAM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
 CONSTRAINT [PK_TEAM] PRIMARY KEY CLUSTERED 
(
	[TEAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[GAME] ON 

INSERT [dbo].[GAME] ([GAME_ID], [HOME_TEAM_ID], [AWAY_TEAM_ID], [HOME_TEAM_SCORE], [AWAY_TEAM_SCORE], [GAME_DATE], [OT], [SO]) VALUES (1, 2, 1, 4, 1, CAST(N'2015-12-15 00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[GAME] ([GAME_ID], [HOME_TEAM_ID], [AWAY_TEAM_ID], [HOME_TEAM_SCORE], [AWAY_TEAM_SCORE], [GAME_DATE], [OT], [SO]) VALUES (2, 11, 13, 3, 2, CAST(N'2016-04-02 00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[GAME] ([GAME_ID], [HOME_TEAM_ID], [AWAY_TEAM_ID], [HOME_TEAM_SCORE], [AWAY_TEAM_SCORE], [GAME_DATE], [OT], [SO]) VALUES (3, 14, 1, 3, 2, CAST(N'2016-02-28 00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[GAME] OFF
SET IDENTITY_INSERT [dbo].[PLAYER] ON 

INSERT [dbo].[PLAYER] ([PLAYER_ID], [name], [AGE], [BIG_IMAGE_URL], [BIRTH_DATE], [BIRTH_PLACE], [HEIGHT], [IMAGE_URL], [NUMBER], [POSITION], [WEIGHT], [TEAM_ID]) VALUES (1, N'Alex Ovechkin', 30, N'https://nhl.bamcontent.com/images/actionshots/8471214.jpg', CAST(N'1985-09-16 00:00:00.000' AS DateTime), N'Moscow, RUS', 75, N'https://nhl.bamcontent.com/images/headshots/current/168x168/8471214.jpg', 8, N'Left Wing', 239, 1)
INSERT [dbo].[PLAYER] ([PLAYER_ID], [name], [AGE], [BIG_IMAGE_URL], [BIRTH_DATE], [BIRTH_PLACE], [HEIGHT], [IMAGE_URL], [NUMBER], [POSITION], [WEIGHT], [TEAM_ID]) VALUES (2, N'Nicklas Backstrom', 28, N'https://nhl.bamcontent.com/images/actionshots/8473563.jpg', CAST(N'1987-11-23 00:00:00.000' AS DateTime), N'Gävle, SWE', 73, N'https://nhl.bamcontent.com/images/headshots/current/168x168/8473563.jpg', 19, N'Center', 213, 1)
INSERT [dbo].[PLAYER] ([PLAYER_ID], [name], [AGE], [BIG_IMAGE_URL], [BIRTH_DATE], [BIRTH_PLACE], [HEIGHT], [IMAGE_URL], [NUMBER], [POSITION], [WEIGHT], [TEAM_ID]) VALUES (3, N'John Tavares', 25, N'https://nhl.bamcontent.com/images/actionshots/8475166.jpg', CAST(N'1990-09-20 00:00:00.000' AS DateTime), N'Mississauga, ON, CAN', 73, N'https://nhl.bamcontent.com/images/headshots/current/168x168/8475166.jpg', 91, N'Center', 211, 4)
SET IDENTITY_INSERT [dbo].[PLAYER] OFF
SET IDENTITY_INSERT [dbo].[PLAYER_STATISTICS] ON 

INSERT [dbo].[PLAYER_STATISTICS] ([PS_ID], [PLAYER_ID], [TEAM_ID], [YEAR], [PLAYOFF_STATISTICS], [GAMES_PLAYED], [GOALS], [ASSISTS], [POINTS], [PLUS_MINUS], [PENALTY_IN_MINUTES], [POWERPLAY_GOALS], [POWERPLAY_POINTS], [SHORTHANDED_GOALS], [SHORTHANDED_POINTS], [GAME_WINNING_GOALS], [OVERTIME_GOALS], [SHOTS], [SHOT_PERCENTAGE], [FACEOFF_WIN_PERCENTAGE]) VALUES (1, 4, 14, 2015, 0, 82, 46, 60, 106, 17, 30, 17, 37, 0, 0, 9, 1, 287, CAST(16.00 AS Decimal(18, 2)), CAST(21.57 AS Decimal(18, 2)))
INSERT [dbo].[PLAYER_STATISTICS] ([PS_ID], [PLAYER_ID], [TEAM_ID], [YEAR], [PLAYOFF_STATISTICS], [GAMES_PLAYED], [GOALS], [ASSISTS], [POINTS], [PLUS_MINUS], [PENALTY_IN_MINUTES], [POWERPLAY_GOALS], [POWERPLAY_POINTS], [SHORTHANDED_GOALS], [SHORTHANDED_POINTS], [GAME_WINNING_GOALS], [OVERTIME_GOALS], [SHOTS], [SHOT_PERCENTAGE], [FACEOFF_WIN_PERCENTAGE]) VALUES (2, 1, 1, 2015, 0, 79, 50, 21, 71, 21, 53, 19, 24, 0, 0, 8, 2, 398, CAST(12.60 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[PLAYER_STATISTICS] ([PS_ID], [PLAYER_ID], [TEAM_ID], [YEAR], [PLAYOFF_STATISTICS], [GAMES_PLAYED], [GOALS], [ASSISTS], [POINTS], [PLUS_MINUS], [PENALTY_IN_MINUTES], [POWERPLAY_GOALS], [POWERPLAY_POINTS], [SHORTHANDED_GOALS], [SHORTHANDED_POINTS], [GAME_WINNING_GOALS], [OVERTIME_GOALS], [SHOTS], [SHOT_PERCENTAGE], [FACEOFF_WIN_PERCENTAGE]) VALUES (3, 1, 1, 2015, 1, 11, 5, 5, 10, 3, 0, 3, 5, 0, 0, 1, 0, 56, CAST(8.90 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PLAYER_STATISTICS] OFF
SET IDENTITY_INSERT [dbo].[TEAM] ON 

INSERT [dbo].[TEAM] ([TEAM_ID], [NAME]) VALUES (1, N'Washington Capitals')
INSERT [dbo].[TEAM] ([TEAM_ID], [NAME]) VALUES (2, N'Pittsburgh Penguins')
INSERT [dbo].[TEAM] ([TEAM_ID], [NAME]) VALUES (3, N'Philadelphia Flyers')
SET IDENTITY_INSERT [dbo].[TEAM] OFF
ALTER TABLE [dbo].[GAME]  WITH CHECK ADD  CONSTRAINT [FK5649gktkswb96owt73h2th9mj] FOREIGN KEY([HOME_TEAM_ID])
REFERENCES [dbo].[TEAM] ([TEAM_ID])
GO
ALTER TABLE [dbo].[GAME] CHECK CONSTRAINT [FK5649gktkswb96owt73h2th9mj]
GO
ALTER TABLE [dbo].[GAME]  WITH CHECK ADD  CONSTRAINT [FKewmn0965wxktmmepm34dwu28j] FOREIGN KEY([AWAY_TEAM_ID])
REFERENCES [dbo].[TEAM] ([TEAM_ID])
GO
ALTER TABLE [dbo].[GAME] CHECK CONSTRAINT [FKewmn0965wxktmmepm34dwu28j]
GO
ALTER TABLE [dbo].[PLAYER]  WITH CHECK ADD  CONSTRAINT [FK7souer2pwlhije571hlg18cmk] FOREIGN KEY([TEAM_ID])
REFERENCES [dbo].[TEAM] ([TEAM_ID])
GO
ALTER TABLE [dbo].[PLAYER] CHECK CONSTRAINT [FK7souer2pwlhije571hlg18cmk]
GO
ALTER TABLE [dbo].[PLAYER_STATISTICS]  WITH CHECK ADD  CONSTRAINT [FK753lkyd3v4jhbwy0kw6rbs7p0] FOREIGN KEY([PLAYER_ID])
REFERENCES [dbo].[PLAYER] ([PLAYER_ID])
GO
ALTER TABLE [dbo].[PLAYER_STATISTICS] CHECK CONSTRAINT [FK753lkyd3v4jhbwy0kw6rbs7p0]
GO
ALTER TABLE [dbo].[PLAYER_STATISTICS]  WITH CHECK ADD  CONSTRAINT [FKlaryu48ut9b3s2jnhquxnlign] FOREIGN KEY([TEAM_ID])
REFERENCES [dbo].[TEAM] ([TEAM_ID])
GO
ALTER TABLE [dbo].[PLAYER_STATISTICS] CHECK CONSTRAINT [FKlaryu48ut9b3s2jnhquxnlign]
GO
